.article {
  line-height: 1.7;
  letter-spacing: 0, 03em;
  color: $secondaryColor;
  padding: 60px 15px 30px;
  @include mq(desktop){
    padding-bottom: 94px;
  }
  &__list {
    list-style-type: none;
    flex-direction: column;
    padding: 0;
    gap: 30px;
    justify-content: center;
    align-items: center;
    @include mq(tablet){
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
    }
  }
  &__list-item{
    height: 226px;
    width: 100%;
    margin-bottom: 10px;
    @include mq(tablet){
      width: calc(100%/2.1);
    }
 @include mq(desktop){
      width: calc(100%/4.4);
    }
  }
  &__card {
    height: 120px;
    background-color: #f5f4fa;
    border: 1px solid #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__header {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0, 03em;
    color: $primaryColor;
    text-transform: uppercase;
    margin: 16px auto;
    text-align: center;
  }
}
