.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  margin: auto;
  top: 221px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__close-button {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-top: 8px;
    margin-left: auto;
  }
  &__close-button-icon {
    width: 11px;
    height: 11px;
    fill: black;
  }
  &__header {
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 2px 40px 0 40px;
  }
  &__form {
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $secondaryColor;
  }
  &__form-label {
    position: relative;
    display: block;
    &:hover,
    &:active {
      fill: $brandColor;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
    }
  }
  &__form-text {
    margin: 0;
  }
  &__input-area {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    &:hover,
    &:active {
      outline: none;
      border: 1px solid $brandColor;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      outline: none;
      border: 1px solid $brandColor;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
    }
    &:focus + .modal__form-icon {
      fill: $brandColor;
    }
  }
  &__form-icon {
    width: 15px;
    height: 12px;
    position: absolute;
    left: 15px;
    top: 32px;
  }
  &__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    resize: none;
    &:focus {
      outline: none;
      border: 1px solid $brandColor;
    }
  }
  &__checkbox-container {
    display: block;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    padding-left: 9px;
  }
  &__checkbox-container input:checked ~ .modal__chechkmark {
    background-color: #2196f3;
    border: 2px solid var(--brand-blue);
    border-radius: 2px;
  }
  &__checkbox-container input:checked ~ .modal__check-icon {
    opacity: 1;
  }
  &__chceckox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__chechkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 16px;
    border: 2px solid $primaryColor;
    border-radius: 2px;
  }
  &__check-icon {
    opacity: 0;
    width: 11px;
    height: 8px;
    fill: white;
    position: relative;
    left: -7px;
  }
  &__policy-check {
    display: inline;
  }
  &__policy-check--blue-undertext {
    color: $brandColor;
    text-decoration: underline;
  }
  &__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
