.our-clients {
  padding: 94px 0px;
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0, 03em;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    gap: 30px;
  }
  &__icon-container {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    &:hover .our-clients__icon {
      fill: $brandColor;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
    }
    &:hover {
      border: 1px solid $brandColor;
      cursor: pointer;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTimingFunction;
    }
  }
  &__icon {
    width: 106px;
    height: 60.4px;
    fill: #afb1b8;
  }
}
