.page-header-mobile {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: relative;
  align-items: center;
  @include mq(desktop){
    height: 80px;
  }
  &__button {
    position: absolute;
    right: 20px;
    top: -45px;
    width: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    &:hover {
      fill: $brandColor;
      transition-timing-function: $transitionTimingFunction;
      transition-duration: $transitionDuration;
    }
    &__icon {
      width: 24px;
    }
    @include mq(tablet) {
      display: none;
    }
  }
}
