@media (min-width: 768px) {
  .page-header-mobile__icon {
    display: none;
  }}

.page-header-mobile {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: relative;
  &__button{
    display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 23px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  &:hover{
    fill: $brandColor;
    transition-timing-function: $transitionTimingFunction;
    transition-duration: $transitionDuration;
}
  }
  &__icon{
    width: 24px;
  }
}