.what-we-do {
  padding: 94px 0px;
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0, 03em;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  &__thumb {
    position: relative;
  }
  &__label {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 27px 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  }
}
