$primaryColor: #212121;
$secondaryColor: #757575;
$brandColor: #2196f3;
$fontFamily: "Roboto", sans-serif;
$secondaryFontFamily: "Raleway", sans-serif;
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
